{% extends "homepage/layout.html" %}{%block body%}{% load static %}
<div
	id="carouselExampleFade"
	class="carousel slide carousel-fade"
	data-bs-ride="carousel"
	data-bs-interval="4000"
>
	<div class="carousel-inner">
		<div
			class="carousel-item active"
			style="background-image: url('{% static 'home/img/1.jpg' %}')"
		>
			<div class="carousel-container">
				<div class="container">
					<h2 class="animate__animated animate__fadeInDown">
						Conheça a excelência em advocacia!
					</h2>
					<p class="animate__animated animate__fadeInUp">
						Venha descobrir como podemos proteger seus interesses e garantir a
						transformação de desafios em soluções eficazes!
					</p>
					<a
						href="{% url "home:index" %}"
						class="btn-get-started animate__animated animate__fadeInUp"
						>Vamos lá</a
					>
				</div>
			</div>
		</div>
		<div
			class="carousel-item"
			style="background-image: url('{% static 'home/img/2.jpeg' %}')"
		>
			<div class="carousel-container">
				<div class="container">
					<h2 class="animate__animated animate__fadeInDown">
						Estamos preparados para atender todas as suas necessidades legais.
					</h2>
					<p class="animate__animated animate__fadeInUp">
						Conheça nossas áreas de atuação e encontre a segurança jurídica que
						você merece.
					</p>
					<a
						href="#about"
						class="btn-get-started scrollto animate__animated animate__fadeInUp"
						>Vamos lá</a
					>
				</div>
			</div>
		</div>
		<div
			class="carousel-item"
			style="background-image: url('{% static 'home/img/3.jpg' %}')"
		>
			<div class="carousel-container">
				<div class="container">
					<h2 class="animate__animated animate__fadeInDown">
						Estamos prontos para ser sua voz na busca pela justiça.
					</h2>
					<p class="animate__animated animate__fadeInUp">
						Saiba mais sobre os advogados que farão a diferença em seu caso
					</p>
					<a
						href="#about"
						class="btn-get-started scrollto animate__animated animate__fadeInUp"
						>Get Started</a
					>
				</div>
			</div>
		</div>
		<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#carouselExampleFade"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#carouselExampleFade"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	{%endblock%}
</div>
