{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Zolet Advocacia</title>
		<link rel="stylesheet" href="static'/'" />
	</head>
	<body>
		<header>
			<nav>
				<a target="_blank">Início</a>
				<button>Quem Somos</button>
				<picture>FOTO DA LOGO</picture>
				<button>Area de Atuação</button>
				<button>Equipe</button>
			</nav>
		</header>
		<main>{% block body %} {% endblock body %}</main>
		<footer>
			<section>
				<h2>Zolet Advocacia</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
					repudiandae harum exercitationem consequuntur tempore ut laudantium
					iure expedita. Maxime nesciunt dolorum ea aliquam eaque facilis
					debitis voluptatibus cupiditate nobis quibusdam?
				</p>
				<p>Espaço reservado para botoes com midias sociais</p>
			</section>
			<section>
				<h2>Informações</h2>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nobis
					minus beatae in ipsa et recusandae ipsam culpa nulla aliquid excepturi
					consequuntur cupiditate, ut, nemo voluptas similique veniam? Magni,
					et?
				</p>
				<p>Telefone: (54) 9-9632-1721 ou (54) 9-9619-0690</p>
				<p>E-mail: zolet.advocacia@gmail.com</p>
				<p>
					Endereço: Rua Henrique Lenzi, nº 490, Centro, Nova Prata - RS, CEP:
					95320-000
				</p>
				<p>Horário de atendimento: 09:00 às 18:00</p>
			</section>
		</footer>
	</body>
</html>
